.nav-link {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.card {
  top: 15px;
  width: 85%;
  min-height: 300px;
  height: auto;
  padding: 15px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}
